#phpstudy
APP_NAME=HTWeapp
APP_NAME_=慧通小程序
APP_ENV=local
APP_KEY=base64:B7Cc8BidRMhXboMMBtaX6PQgNKp1AwZf8ouSMMvZU0E=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://192.168.1.158:8113:8113

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=taoshu
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=192.168.1.106
REDIS_PASSWORD=wfht@123.
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
#小程序
WECHAT_MINI_PROGRAM_APPID=wxae8e9a103ca53ec4
WECHAT_MINI_PROGRAM_SECRET=636c25224a89ac31a649607b0111242d
WECHAT_MINI_PROGRAM_TOKEN=
WECHAT_MINI_PROGRAM_AES_KEY=
# 用于测试代小程序实现业务的慧通商城小程序
TEST_APP_ID=wxdc656dd99f7fbd3f

#文件上传
#FILESYSTEM_DRIVER=qiniu
#七牛云
qiniu_accessKey=SVr78LLP090RmTTqEm2NuXk5Qzd5CxVC4lq78UdZ
qiniu_secretKey=D4ZdNo_7pHfzNTQufY5QlUzefaIa2-32y3mdRska
qiniu_bucket=test
qiniu_url=http://7xpw48.com1.z0.glb.clouddn.com

ARTICLE_REMOTE=http://1d63389r57.iask.in/home#/home
ARTICLE_WRITE=http://1d63389r57.iask.in/home#/publish
ARTICLE_DETAIL=http://1d63389r57.iask.in/home#/particularsss

REST_CLIENT_ENV=dev
#REST_CLIENT_ID=Pi44aib03L9jQBPxEvyII5a4JKXNEvKu
REST_CLIENT_ID=1Xl1Drawyl4n43vTK6Ry5ge7kt5NDCMJ
#REST_CLIENT_SECRET=01yNxlTeSkdOHXGTHA4JZia5dLtgDrsY
REST_CLIENT_SECRET=BIrp0SXFBfCOH8HECGH1GFNVvy7wmKTL
#REST_CLIENT_API_URL=https://api.xinxihua.com
REST_CLIENT_API_URL=https://192.168.1.106:28443
REST_CLIENT_API_HOST=api.v2.services.xinxihua.com

#配置授权 当后台应用重安装时 需要在这里更新对应的值LJF####

AUTH_AGENT_ID=10035
AUTH_TOKEN=26YvvQY7ZGVaZHML7xpa
#前台回调地址
AUTH_CALLBACK_HOME_URL=/callback
AUTH_ENCODING_KEY=RXxoOyxW78dYljb0wNFwRBczvtIV0Ka5ZnZ7lUhQpy8
#登录后前台跳转页面
AUTH_REDIRECT_HOME_URL=http://192.168.1.158:8113/home
#后台回调地址
AUTH_CALLBACK_ADMIN_URL=http://192.168.1.158:8113/admin/callback
#登录后后台跳转地址
AUTH_REDIRECT_ADMIN_URL=http://192.168.1.158:8113/admin
AUTH_REDIRECT_URL=http://192.168.1.158:8113/callback
AUTH_PALTFORM_URL=https://oa.xinxihua.test/
AUTH_GATEWAY_URL=https://oa.xinxihua.test/sso-login
EncodingKey=7euUUlUKcustHQiG5yGV2ex3fyycwxbLGcAYwcXHiiy
    /*
     * 开放平台第三方平台
     */
WECHAT_OPEN_PLATFORM_APPID=wx2fd187ec0acc2876
WECHAT_OPEN_PLATFORM_SECRET=79a0e0c240fc806e61ddab3cb8b3b701
WECHAT_OPEN_PLATFORM_TOKEN=xkho3qsixyd2xuhxu44csfrb0ne3axhp
WECHAT_OPEN_PLATFORM_AES_KEY=Zu2u1CuZIBvV6OeqgN3hivdNfrYUNM2TkxoEF6SiG7K
